@model AtendimentoHospitalar.Models.Cidade

@{
    ViewBag.Title = "Cidades";
}

<h2>Lista de Cidades</h2>

@Html.LabelFor(model => model.Estado)
@Html.EnumDropDownListFor(model => model.Estado,"Selecione...", new{@class="form-control"})

<div class="row" id="cidadeEstado">

</div>

@section Scripts {
    
    <script>
        $("#Estado").on("change", function() {
            var estadoView = $(this).val();

            $("#cidadeEstado").load('@Url.Action("ListarPorEstado", "Cidade")', { estado: estadoView });

        });
    </script>
}